.background{
    width: 430px;
    height: 600px;
    position: absolute;
    transform: translate(-45%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #41ffdd,
            #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
            to right,
            #97ff22,
            #348c00
    );
    right: -30px;
    bottom: -80px;
}


form{
    width: 400px;
    background-color: var(--background-color-20);
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid var(--primary-color-10);
    box-shadow: 0 0 40px var(--primary-color-70);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color-default);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: var(--primary-color-10);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: var(--text-color-default-30);
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: var(--primary-color-10);
    color: var(--text-color-default-80);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: var(--primary-color-70);
    color: var(--text-color-reverse);
}