.prime__button {
    align-content: end;
    text-decoration: none;
    position: relative;
    display: flex;
    border: var(--primary-color);
    color: var(--text-color-default);
    background-image: linear-gradient(var(--button-color-primary), var(--button-color-primary-dark));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0 0;
    transition: background-size .2s, color .2s;
}

.prime__button:hover {
    border-radius: 10px;
    background-size: 100% 100%;
    color: var(--text-color-reverse);
}

.animated__up__button:hover {
    transform: translateY(-5px);
}