header {
    background-color: var(--background-color);
    border-radius: 20px;
    height: 80px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;

    width: 80%;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

main {
    padding-top: 80px;
}