.user_logo {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user_image__container {
    position: relative;
    width: 40px;
    height: 40px;
}

.user_image {
    border-radius: 40px;
}